* {
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
}

.category_container {
    padding-left: 100px;
    float: left;
    width: 250px;
    height: 100vh;
    line-height: 100px;
    background-color: red;
}

.category_wrap {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.content {
    height: 100vh;
    background-color: green;
}

.logo {
    width: 100%;
    height: 48px;
    background-color: pink;
}

.search {
    width: 100%;
    height: 48px;
    background-color: cyan;
}

.category {
    height: calc(100% - 96px);
    background-color: orange;
}