<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="index.css" rel="stylesheet">
    <title>메인 페이지</title>
</head>
<body>
<div id="container">
    <div class="category_container">
        <div class="category_wrap">
            <div class="logo"> <!-- 로고 -->

            </div>
            <div class="search"> <!-- 검색 -->

            </div>
            <nav>

            </nav>
        </div>
    </div>
    <div class="content">

    </div>
</div>
</body>
</html>