<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/css/index.css" rel="stylesheet">
    <title>메인 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header> <!-- 헤더 영역 -->
        <div class="container">
            <div> <!-- 로고 -->
                <a href="index.html" class="logo"></a>
            </div>
            <div class="input-group mb-3" id="search"> <!-- 검색 -->
                <input type="search" class="form-control" placeholder="검색">
                <button class="btn btn-outline-secondary" id="search_button" type="button">검색</button>
            </div>
        </div>
    </header>

    <div class="container">
        <div id="tabMenu"> <!-- 왼쪽 네비게이션 영역 -->
            <div class="notice_menu">
                <input id="tab1" name="tabs" onclick="switchMenu(0)" type="radio">
                <label for="tab1">알림</label>
            </div>
            <div class="message_menu">
                <input id="tab2" name="tabs" onclick="switchMenu(1)" type="radio">
                <label for="tab2">쪽지</label>
            </div>
            <div class="feed_menu">
                <input id="tab3" name="tabs" onclick="switchMenu(2)" type="radio">
                <label for="tab3">피드</label>
            </div>
            <div class="setting_menu">
                <input id="tab4" name="tabs" onclick="switchMenu(3)" type="radio">
                <label for="tab4">설정</label>
            </div>
        </div>

        <div id="contents"> <!-- 콘텐츠 영역 -->
            <div id="notice" class="tabContent">
                <!-- 백엔드 데이터 들어오는 곳 -->
                <h1>알림 영역입니다.</h1>
            </div>
            <div id="message" class="tabContent">
                <!-- 백엔드 데이터 들어오는 곳 -->
                <h1>쪽지 영역입니다.</h1>
            </div>
            <div id="feed" class="tabContent">
                <!-- 백엔드 데이터 들어오는 곳 -->
                <h1>피드 영역입니다.</h1>
                <div class="post_board">
                    <form action="/post" method="POST">
                        <textarea name="content" id="post_zone" cols="30" rows="10"></textarea>
                        <button type="submit">등록</button>
                    </form>
                    <div class="post_list">
                        <div class="post_list_name">이름</div>
                        <div class="post_list_content">내용</div>
                        <div class="post_list_nav">
                            <div class="post_list_like">
                                <span class="post_list_like_image"></span>
                                <span class="post_list_like_count"></span>
                            </div>
                            <div class="post_list_bookmark">
                                <span class="post_list_bookmark_image"></span>
                                <span class="post_list_bookmark_count"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post_username"></div>
                    <div class="post_contents"></div>
                </div>
            </div>
            <div id="setting" class="tabContent">
                <!-- 백엔드 데이터 들어오는 곳 -->
                <h1>설정 영역입니다.</h1>
            </div>
        </div>
    </div>

<script src="../static/script/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>